









    <a href="#!/addteacher">Add Teacher</a>


<div class="text-right">
<table class="table">
<thead>
	  <tr>    	
	  	<th scope="col">Teacher_Id</th>
	  		  	<th>Teacher_Name</th>
	  		  		  	<th>Teacher_Phone</th>
	  		  		  		  	<th>Teacher_Subjects</th>
	  		  		  		  		  	<!--th>Student_Email</th>
	  		  		  		  		  		  	<th>Student_Password</th-->






</tr>
</thead>
<tbody><tr ng-repeat="row in employees">
        <td>{{row.id}}</td>
        <td >{{row.teachername}}</td>
          <td>{{row.teacherphone}}</td>
        <td >{{row.teachersubjects}}</td>
                 <!--td >{{row.lastname}}</td>
                                  <td >{{row.rollnumber}}</td-->

                         <td ><a href="#!/editteacher/{{row.id}}">EDIT</a></td>

                      <td ><a ng-click="delete(row.id)" href="#">DELETE</a></td>




    </tr>


</tbody>


    
</table>

</div>
