
<p>This is the partial for view 3.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>



<div class="text-center">
	<h5>Registration Form</h5>

	<form>

  <div class="form-group row">
<label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Subject_Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" id="colFormLabelLg" ng-model="employee.subname">

    </div>
  </div>
  <!--form action="#" method="post" id="demoForm" class="demoForm"-->
    <!--fieldset-->
        <!--legend>Demo: Get Selected Options</legend-->
<label for="colFormLabelLg" class="col-sm-10 col-form-label col-form-label-lg">Main_Books:</label>
        <p>
            <select ng-model="employee.mainbooks" size="4" multiple>
                 <option value="Mathematics NCERT">Mathematics NCERT</option>
                <option value="Physics NCERT">Physics NCERT</option>
                <option value="Chemistry NCERT">Chemistry NCERT</option>
                <option value="Biology NCERT">Biology NCERT</option>
                
            </select>
            <!--input type="button" value="Submit" ng-click="getSelectedOptions()"/-->
           
            <select style="width:200px;" ng-model="employee.mainbooks"  size="4" multiple>

    <option ng-repeat="opt in  employee.mainbooks"  value="{{opt}}">{{opt}}</option>
            </select>
        </p>

   
  
                         <!--input type="button" value="Cancel" ng-click="gotolist()"-->



</form>
         <input type="button" value="Save"  ng-click="update(employee)">


</div>


